.grid {
    background-color: black;
    width: 640px;
    height: 640px;
    border: 1px solid black;
    position: relative;
    left: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#changeDiv {
    width: 640px;
    position: relative;
    left: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 10px;
}

#changePix {
    font-size: 15px;
}